<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>AMPLink Control Panel</title>
<link href="style.css" rel="stylesheet" type="text/css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/@json-editor/json-editor@latest/dist/jsoneditor.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.15.2/ace.js" type="text/javascript" charset="utf-8"></script>
<style type="text/css" media="screen">
    #editor { 
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
    }
    #editor2 { 
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
    }
    .parent {
    width:100%;
    height: 400px;
    display:inline-block;
    position:relative;
}
</style>
</head>
<body>

<div class="sidenav">
  <img src="resources/images/branding.png" alt="branding" width="200" height="80">
  <a href="/">Home</a>
  <a href="/panel">Server Control Panel&nbsp;</a>
  <a href="/console">Server Console</a>
  <a href="/players">Chat/Players</a>
  <a href="/users">Users</a>
  <a href="/about">About</a>
  <div class="brightercolor"><a href="#">Welcome<br><form action="/logout"><input type="submit" value="Logout" class="btn btn-danger"></form></a></div>
</div>
<main>

<div class="content">
  <h2>AMPLink Configurator</h2>
  <p class="subtitle2">Server String Editor</p>
<iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>


<div class="row">



<div class="col-xl-11 callout-warning">
  <b>Warning: Changing any configuration string could break the torch instance, or make AMPLink inaccessible.</b>
</div>

<h3>Plugins Management</h3>
&nbsp;&nbsp;&nbsp;
<div class="col-xl-5 callout-info"><strong>INSTALLED PLUGINS</strong>
<hr>
<span id="getAllPlugins"></span>

{{#each result}}
  <tr>
    <td>{{this}}</td>
    <td>
      <form style="float:right;margin-right:10px;"action="/configurator/plugins/get/{{this.id}}" method="POST"> <input type="submit" value="Configure" class="btn btn-info" onclick="staticData2(`${{{this}}}`)" disabled></form>
      <form style="float:right;margin-right:10px;"action="/configurator/plugins/delete/{{this.id}}" method="POST"> <input type="submit" value="Remove Plugin" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this plugin? This action cannot be undone!');" disabled></form>
    </td>
  </tr><br><br>
  {{/each}}

</div>
<div class="col-xl-1"></div>
<div class="col-xl-5 callout-info"><strong>INSTALL A PLUGIN</strong><hr>
<form action="/configurator/plugin/upload/" method="POST">
<div class="mb-3">
  <label id="file" for="formFile" class="form-label">WIP, NOT FUNCTIONAL<br>Upload a plugin to server:</label>
  <input class="form-control" type="file" accept=".zip" id="formFile">
  <input type="submit" style="margin-top:10px;" value="Upload Plugin" class="btn btn-success" onclick="return confirm('Are you sure you want to upload this plugin?');">
</div>
</form>
<form action="/postConfiguratorSearch" method="POST">
<input type="submit" style="margin-top:10px;" value="Plugin Search" class="btn btn-secondary">
</form>
</div>
</div>


<div class="row">
<h3>Server Management</h3>


<!--<div class="callout-info col-xl-5">
  
  <p><strong>TORCH CONFIGURATION</strong><hr></p>

  <form action="/configurator/plugins/torchConfig/submit" method="POST">
  <label for="textarea">Configuration Text Area:</label><br>
 ### Ace Editor ### 
<div class="parent">
  <div id="editor">{{torchConfig}}</div>
</div>
<script>
  function staticData() {
  fetch('/configurator/plugins/torchConfig')
    .then((response) => response.text())
    
    .then((result) => {
      var session = editor.session
      session.insert({
        row: session.getLength(),
        column: 0
      }, "\n" + result)
      editor.setValue(JSON.stringify(JSON.parse(result), null, 2));
    });
  };
  staticData()
</script>

Ace config

<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.session.setMode("ace/mode/json");
    editor.resize()
    editor.getSession().setUseWrapMode(true);
</script>

Submit changes
  <input type="submit" style="margin-top:10px;" value="Save and Apply Changes" class="btn btn-success" onclick="return confirm('Are you sure you want to upload changes to the plugin?');">
  <input type="reset" style="margin-top:10px;" value="Revert Changes" class="btn btn-warning" onclick="staticData()" >
  </form>
============= 
</div>-->
&nbsp;&nbsp;&nbsp;
<div class="callout-info col-xl-11">

  
  <p><strong>PLUGIN CONFIGURATION</strong><hr></p>

  <!--<form action="/configurator/plugins/get/{{this}}/display" method="POST">-->
  <div class="form-group">
    
    <fieldset class="fieldborders" >
      <legend for="textarea2"><strong>Choose a Configuration Group</strong></legend>
      <div class="btn-group btn-group-sm" style="display:inline; max-width: 900px;">
      {{#each result2}}
      <form action="/configurator/plugins/get/{{this}}/post" method="POST" target="dummyframe" > <button  style="border: 1px solid #868686;border-radius:3px;margin:5px;background-color:rgba(0, 0, 0, 0.1);" type="submit" name="dataset" onclick="setTimeout(staticData2(), 1000);">{{this}}</button> </form>
      {{/each}}
      </div>
</fieldset><br>
    <script>

// Get a reference to the form element
const form = document.querySelector('form');

// Add a submit event listener to the form
form.addEventListener('submit', async (event) => {
  // Prevent the default form submission behavior
  event.preventDefault();

  // Get the form data
  const formData = new FormData(form);

  // Make a POST request using the fetch API
  const response = await fetch(form.action, {
    method: 'POST',
    body: formData
  });

  // Parse the response JSON
  const jsonResponse = await response.json();

  // Get a reference to the result <div>
  const resultDiv = document.querySelector('editor2');

  // Update the result <div> with the parsed JSON response
  resultDiv.innerHTML = JSON.stringify(jsonResponse);
});

    </script>
  <!--</form>-->
  </div>

  <label for="textarea">Configuration Text Area:</label><br>
  <!-- ### Ace Editor ### -->
<div class="parent">
  <div id="editor2" name="datasetOut">[{"error": "[AMPLink] No configuration group selected. Select a configuration group to load the plugin's respective configuration(s)"}]</div>
</div>

<script>
function staticData2() {
  
  fetch('/configurator/plugins/get/display')
    .then((response) => response.text())
    
    .then((result) => {
      var session = editor2.session
      session.insert({
        row: session.getLength(),
        column: 0
      }, "\n" + result)
      editor2.setValue(JSON.stringify(JSON.parse(result), null, 2));
    });
  };
  setTimeout(staticData2(), 1000);
 
  
  function updateStaticData2() {
    confirm('Are you sure you want to upload changes to the plugin?');
    //console.log(editor2.getValue());
    var editor = editor2.getValue()
    document.getElementById('sessionConfig').value = editor;
    
  }
</script>

<!--Ace config-->

<script>
    var editor2 = ace.edit("editor2");
    editor2.setTheme("ace/theme/monokai");
    editor2.session.setMode("ace/mode/json");
    editor2.resize()
    editor2.getSession().setUseWrapMode(true);
</script>

  <input type="submit" style="margin-top:10px;" value="Save and Apply Changes" class="btn btn-success" onclick="updateStaticData2() " disabled>
  <input type="reset" style="margin-top:10px;" value="Revert Changes" class="btn btn-warning" onclick="staticData2()" disabled>
  </form>
  </div>
  {{sessionMsg}}
  
</div>
</div>
</div>

</div>
</div>


</main>
</body>
</html>