<table class="table table-hover" id="myTable">
    {{#if usingvrage}} <!--VRageAPI-->
    <thead class="callout">
      <tr class="text-adaptive">
        <th class="col">Name</th>
        <th class="col">Block Count</th>
        <th class="col">PCU</th>
        <th class="col">Owner Name</th>
        <th class="col">Grid ID</th>
        <th class="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <div id="myContainer">
      {{#each alldata}}
        <tr class="text-adaptive">
          <td scope="row">{{this.DisplayName}}</td>
          <td scope="row">{{this.BlocksCount}}</td>
          <td scope="row">{{this.PCU}}</td>
          <td scope="row">{{this.OwnerDisplayName}}</td>
          <td scope="row">{{this.EntityId}}</td>
          <td scope="row">
          <span><form class="btn btn-sm btn-danger" action="/grids/delete/{{this.EntityId}}" method="POST">
              <button style="padding: 0px;" type="submit" value="Delete" class="btn btn-hidden text-white" onclick="return confirm('Are you sure you want to delete {{this.DisplayName}}?');">Delete</button></form>
          </span></td>
        </tr>
      {{/each}}
      </div>
      </tbody>
    </table>
    {{else}} <!--TorchRemote-->
    {{#if success}}
    <thead class="callout">
    <tr class="text-adaptive">
      <th class="col">Name</th>
      <th class="col">Block Count</th>
      <th class="col">PCU</th>
      <th class="col">Owner ID</th>
      <th class="col">Grid ID</th>
      <th class="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <div id="myContainer">
    {{#each alldata}}
      <tr class="text-adaptive">
        <td scope="row">{{this.name}}</td>
        <td scope="row">{{this.blockCount}}</td>
        <td scope="row">{{this.pcu}}</td>
        <td scope="row">{{this.biggestOwner}}</td>
        <td scope="row">{{this.id}}</td>
        <td scope="row">
        <span><form class="btn btn-sm btn-danger" action="/grids/delete/{{this.id}}" method="POST" target="dummyframe"></form>
            <button style="padding: 0px;" type="submit" value="Delete" class="btn btn-hidden text-white" onclick="return confirm('Are you sure you want to delete {{this.name}}?');">Delete</button></form>
        </span></td>
      </tr>
    {{/each}}
    </div>
    </tbody>
  </table>
    {{else}}
<table class="table">
  <thead class="red-callout">
    <tr class="text-adaptive">
      <th scope="col">Error</th>
    </tr>
  </thead>
  <tbody>
     <td scope="row"><span class="text-adaptive"><i class="bi bi-wifi-off" style="font-size: 36px;"></i>&nbsp;&nbsp;&nbsp;&nbsp; The gridlist cannot connect to the server. Please contact your Administrator if this issue persists.<br>
     <button class="btn btn-sm btn-primary" onClick="window.location.reload();">Reload Page</button></span>
     </td>
     </table>
     <div class="callout"><pre>Error:<br>{{errormsg.message}}</pre></div>
    
     {{/if}}
  {{/if}}

  <script>
      // Get the table element
      const table = document.getElementById('myTable');

      // Get the rows in the table, excluding the header row
      const rows = Array.from(table.getElementsByTagName('tr')).slice(1);

      // Sort the rows by the 'blockCount' column in descending order
      rows.sort((a, b) => {
        const aValue = parseInt(a.cells[1].innerText, 10);
        const bValue = parseInt(b.cells[1].innerText, 10);
        return bValue - aValue;
      });

      // Reattach the sorted rows to the table
      rows.forEach(row => table.appendChild(row));
  
</script>
<iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>