
<table class="table">
  <thead class="callout">
    <tr class="text-adaptive">
      <th scope="col"></th>
      <th scope="col">Name</th>
      <th scope="col">Author</th>
      <th scope="col">Description</th>
      <th scope="col">Cumulative Downloads</th>
      <th scope="col" style="text-align: center;">Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each result}}
    <tr class="text-adaptive">
      <td><img src="{{this.icon}}" alt="{{this.name}}" width="50" height="50"></td>
      <td style="color: border: 0;" class="plugin-name">
        <form style="float:left; " action="/configurator/plugin/info/{{this.guid}}" method="POST"> 
          <input type="submit" class="btn btn-hidden" value="{{this.name}}" class="btn btn-primary">
        </form>
      </td>
      <td>{{this.author}}</td>
      <td id="markparse">{{this.shortdesc}}</td>
      <td>{{this.downloads}}</td>
      <td>
        <form style="float:right; " action="/installplugin/{{this.guid}}" method="POST"> 
          <input type="submit" value="Install" class="btn btn-primary" onclick="return confirm('Are you sure you want to install this plugin?');">
        </form><br>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
<script>
  //null
</script>